.container_magin {
  margin-left: 2rem;
}
.input_padding {
  padding: 0.6rem 1rem;
  margin-left: 2rem;
}

.textInline {
  display: inline-flex;
}

.button {
  margin-left: 0.4rem;
}

.text_strike {
  text-decoration: line-through;
}

.text_none_strike {
  text-decoration: none !important;
}
.btn_cancel {
  margin-left: 0.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
